/* To Kill chromes margin */
*
{
    margin: 0;
    padding: 0;
}
/* ********************** */

/* Flex Container */
.container
{
    /* Sets display of .container to flex, and it's default properties */
    display: flex;
    /* *************************** */
    /* Default properties include; */
    /* flex-direction: row */
    /* justify-content: flex-start */
    /* align-items: stretch */
    /* *************************** */
    
    /* ****************************** */
    /* General Flex Alignment */

    /* align-items: flex-start; */
    justify-content: space-around;
    /* ****************************** */

    /* ******************** */
    /* Here you can set some properties that only apply to wrap, with the exception of align-content:center */
    /* Flex Wrap Properties */
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* ******************** */

    
    /* Styles */
    height: 100vh;
    background-color: #5555;
}

.item
{

    /* Styles */
    border-radius: .5rem;
    background-color: #00f;
    margin: 5px;
    padding: 10px;
    flex-basis: 30%;
}

.item-1
{
    flex-grow: 1;
    align-self: center;
    height: 200px;
}

.item-2
{
    flex-grow: 3;
    align-self: stretch;
}

.item-3
{
    flex-grow: .75;
    align-self: flex-end;
    height: 300px;
}