*
{
    margin: 0;
    padding: 0;
}

/* Main Grid Container */
.grid-container
{
    display: grid;

    grid-template-columns: 4rem repeat(4, 1fr) 4rem;

    grid-template-rows: 4rem repeat(4, 1fr) 4rem;

    gap: 5px;

    height: 100vh;
    background-color: #5555;
}

/* Top Left Cell */
.grid-cell-tl
{
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    align-content: space-around;

    background-color: #00f;
    border-radius: .5rem;
}

/* Top Right Cell */
.grid-cell-tr
{
    grid-column: 4 / 6;
    grid-row: 2 / 4;

    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    align-content: space-around;

    background-color: #00f;
    border-radius: .5rem;
}

/* Bottom Left Cell */
.grid-cell-bl
{
    grid-column: 2 / 4;
    grid-row: 4 / 6;

    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    align-content: space-around;

    background-color: #00f;
    border-radius: .5rem;
}

/* Bottom Right Cell */
.grid-cell-br
{
    grid-column: 4 / 6;
    grid-row: 4 / 6;

    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    align-content: space-around;

    background-color: #00f;
    border-radius: .5rem;
}

.item
{
    margin: 5px;
    padding: 5px;
    background-color: #82e;
    border-radius: .5rem;
}