*
{
    margin: 0;
    padding: 0;
}

.grid-container
{
    display: grid;

    grid-template-columns: repeat(12, 1fr);

    grid-template-rows: repeat(12, 1fr);

    grid-template-areas: 
    ". header header header header header header header header header header ."
    ". header header header header header header header header header header ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". . content content content content content content content content . ."
    ". footer footer footer footer footer footer footer footer footer footer ."
    ". footer footer footer footer footer footer footer footer footer footer ."
    ;

    gap: 5px;

    height: 100vh;
    background-color: #5555;
}

@media only screen and (max-width: 500px)
{
    .grid-container
    {
        grid-template-areas: 
        ". header header header header header header header header header header ."
        ". header header header header header header header header header header ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". content content content content content content content content content content ."
        ". footer footer footer footer footer footer footer footer footer footer ."
        ". footer footer footer footer footer footer footer footer footer footer ."
        ;
    }
}

header
{
    grid-area: header;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Styles */
    border-radius: .5rem;
    background-color: blue;
}

header li
{
    display: inline-block;

    margin: 10px;
}

.content
{
    grid-area: content;

    display: flex;
    flex-wrap: wrap;

    border-radius: .5rem;
    background-color: #5555;
    overflow: hidden;
}
.content p
{   
    flex: 1 1 200px;

    /* Styles */
    font-size: 1vw;
    margin: 10px;
}

footer
{
    grid-area: footer;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* Styles */
    border-radius: .5rem;
    background-color: blueviolet;
}